
<script type="text/javascript">
  $(function () {
    new Highcharts.Chart({
         chart: { renderTo: 'orders_chart' },
    title: { text: 'Orders by Day Created' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'Shkalim'}
    },
    tooltip: {
      formatter: function () {
        return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' +
          '₪' + Highcharts.numberFormat(this.y, 2);
      }
    },
    series: [
    <% {"Unpaid" => Order.unpaid , "Paid" => Order.paid }.each do |name,orders| %>{
    	name: "<%= name %>",
    	pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 1.month.ago.at_midnight.to_i * 1000 %>,
      data: <%= orders_chart_series(orders,1.month.ago.at_midnight)%>
    },
    <% end %>

    ]
    });
  });
</script>
<div id="orders_chart" style="width: 560px; height: 300px;"></div>