<div class="row">
	<div class="span6">
		<h1> Arti Pixel</h1>
		<p>this is an app to order designs from the designer OSH!</p>
		<p> this app is brought you by eliran:)</p>
	</div>
	<div class="span3">
		<%= render 'devise/registrations/new' %>
	</div>
</div>


