

.home-welcome{
float:right;
text-align: right;
}

 .order-form
{
float:right;
text-align: right;
}
.order-types {
float:left;
text-align: right;
}

.home-buttons {
float:left;
}

.footer {
	margin-bottom: 30px;
	float: right;
}